@import '../../scss/constants.scss';

.container {
  transition: all 0.3s;
  display: block;
  border-radius: 2px;
  outline: none;
  border: none;
  background-color: $background;
  padding: 8px 16px;
  margin: 8px 0;
  cursor: pointer;
  box-shadow: 0 0 6px $shadow;
  color: $material-87;

  &:hover {
    box-shadow: 0 0 12px $shadow;
  }
}
